extends /config/template
append config
  -pageTitle = 'Nosotros'
  -pageDescription = 'Pagina sobre nuestra historia'
  -pageImage = ''

block main
  include /includes/main-menu
  h1 Quienes somos
  p esta es una nueva pagina